html {
    height: 100%;
}

body {
    background-color: #252627;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
}

.pink-color {
    color: #ff6161;
}

.white-color {
    color: #fff;
}

.grey-color {
    color: #5b5e63;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    color: #fff;
    margin-top: 12px;
}

p {
    line-height: 2.1;
}

i {
    color: #ff6161;
}

a {
    color: #fff;
}

a:hover {
    color: #ff6161;
}

h2 {
    margin-top: 4%;
    margin-bottom: 4%;
}

.details {
    margin-top: 1.3%;
}